<a id="back-btn" href="#" class="btn btn-dark btn-lg toggle" onclick="goBack()" style="background-color: rgba(0,0,0,0.5);">
  <span class="fa-stack fa-1x">
    <i class="fa fa-circle fa-stack-2x"></i>
    <i class="fa fa-arrow-left fa-stack-1x text-primary"></i>
  </span>
</a>