<!-- Navigation
<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
        <li class="sidebar-brand">
            <a>John Doe</a>
        </li>
        <li>
            <a href="#" onclick='profileclick()'><i class="fa fa-user" aria-hidden="true"></i>  Profile</a>
        </li>
        <li>
            <a href="#" onclick='memoryclick()'><i class="fa fa-comments-o" aria-hidden="true"></i>  Memories</a>
        </li>
        <li>
            <a href="#" onclick='aboutclick()'><i class="fa fa-info-circle" aria-hidden="true"></i>  About</a>
        </li>
    </ul>
</nav> -->

  <div class="android-content mdl-layout__content">
  </div>