<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../views/partials/head %>
</head>
<body>
    <header>
        <% include ../views/partials/header %>
    </header>
    
    <div style="text-align: center">
	    <h2>trou&bull;vaille</h2>
      <p><i>noun, French</i></p>
      <p>a valuable discovery, or a lucky find; something lovely discovered by chance</p>
      <br>
      <br>
      <br>
      <p style="margin: 10px 20px 10px 20px">When travelling, people are often herded toawrds the same landmarks and the same paths. While these locations are by no means unimportant, they often become backdrops to vacation photos and the cultural importance of the location is forgotten.</p>
      <br>
      <p style="margin: 10px 20px 10px 20px">Trouvaille seeks to counteract this behavior by providing a platform through which locals and travelers can connect and celebrate the cultural significance of an area. Locals can post activities the moment they're happening and travelers can join in if they're close enough. All of this is happening in real time, truly making the exchange something lovely discovered by chance.</p>
	</div>

	<script>
          var goBack = function()
          {
            window.location.href = '/'
          }
    </script>

  </body>
</html>
