<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../views/partials/head %>
</head>
<body>
    <header>
        <% include ../views/partials/header %>
      	<% include ../views/partials/back %>
    </header>
    
    <div style="text-align: center">
	    <p>ABOUT PAGE</p>
	</div>

	<script>
          var goBack = function()
          {
            window.location.href = '/'
          }
    </script>

  </body>
</html>
