<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../views/partials/head %>
</head>

<body>
    <header>
        <% include ../views/partials/header %>
        <% include ../views/partials/back %>
    </header>
    
    <div>
        <br>
    </div>
    <!-- Services -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <section id="services" class="services bg-primary1">
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-xs-6 col-md-3">
                    <img height="140" width="140" src="images/activityimg1.jpg">
                    <!-- <hr class="small"> -->
                </div>
                <div class="col-xs-6 col-md-3">
                    <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-user fa-stack-1x text-primary"></i>
                    </span>
                    <strong>Ann Paul</strong>
                </div>
            <div>
            <div class="row text-center">
                <div class="col-xs-12 col-md-8">
                    <h2>Paint with Wine</h2>
                    <!-- <hr class="small"> -->
                </div>
            <div>
            <div class="row">
                        <div class="col-xs-12 col-md-8">
                                <h4>Paint with a glass of wine while overlooking the lake</h4>
                        </div>
            </div>
            <div class="row">
                    <div class="col-xs-3 col-sm-3 text-center" style="background-color: rgba(50, 50, 50, 0.5); padding:0px; margin: 2px 2px;"><h6><i class="fa fa-clock-o" aria-hidden="true"></i> Approx 3 .hrs</h6></div>
                    <div class="col-xs-3 col-sm-3" style="background-color: rgba(50, 50, 50, 0.5); padding:0px; margin: 2px 2px;"><h4><i class="fa fa-usd" aria-hidden="true"></i> Max $45</h4></div>
                    <div class="col-xs-3 col-sm-3" style="background-color: rgba(50, 50, 50, 0.5); padding:0px; margin: 2px 2px;"><h4><i class="fa fa-glass" aria-hidden="true"></i> Alcohol Present</h4></div>
                    <div class="col-xs-3 col-sm-3" style="background-color: rgba(50, 50, 50, 0.5); padding:0px; margin: 2px 2px;"><h4><i class="fa fa-child" aria-hidden="true"></i> Child Safe</h4></div>
            </div>
            <div class="row">
                        <div class="col-xs-12 col-md-8">
                                <br />
                                <br />
                                <br />
                                <a href="#" onclick='btn1()' class="btn btn-lg btn-light"><i class="fa fa-comments" aria-hidden="true"></i> Contact Ann</a>
                        </div>
            </div>
            
        </div>
        <!-- /.container -->
    </section>

    <!-- Footer -->
    <!--footer>
    </footer-->

    <script>
          var goBack = function()
          {
            window.location.href = '/'
          }
    </script>

    <script>
          var btn1 = function() 
          {
            window.location.href = '/chat'
          }
    </script>

    <!-- jQuery -->
    <script src="javascripts/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="javascripts/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script>
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#],[data-toggle],[data-target],[data-slide])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    //#to-top button appears after scrolling
    var fixed = false;
    $(document).scroll(function() {
        if ($(this).scrollTop() > 250) {
            if (!fixed) {
                fixed = true;
                // $('#to-top').css({position:'fixed', display:'block'});
                $('#to-top').show("slow", function() {
                    $('#to-top').css({
                        position: 'fixed',
                        display: 'block'
                    });
                });
            }
        } else {
            if (fixed) {
                fixed = false;
                $('#to-top').hide("slow", function() {
                    $('#to-top').css({
                        display: 'none'
                    });
                });
            }
        }
    });
    // Disable Google Maps scrolling
    // See http://stackoverflow.com/a/25904582/1607849
    // Disable scroll zooming and bind back the click event
    var onMapMouseleaveHandler = function(event) {
        var that = $(this);
        that.on('click', onMapClickHandler);
        that.off('mouseleave', onMapMouseleaveHandler);
        that.find('iframe').css("pointer-events", "none");
    }
    var onMapClickHandler = function(event) {
            var that = $(this);
            // Disable the click handler until the user leaves the map area
            that.off('click', onMapClickHandler);
            // Enable scrolling zoom
            that.find('iframe').css("pointer-events", "auto");
            // Handle the mouse leave event
            that.on('mouseleave', onMapMouseleaveHandler);
        }
        // Enable map zooming with mouse scroll when the user clicks the map
    $('.map').on('click', onMapClickHandler);
    </script>

</body>

</html>
