<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../views/partials/head %>
</head>

<body>
    <header>
        <% include ../views/partials/header %>
    </header>
    
    <!-- CONTENT -->
    <div id="services" class="services bg-primary1" style="padding:0px; height: 80%;">
    </div>
    </div>
    <div id="exitbtndiv" class="exitButton" style="padding:0px; text-align: center; background-color:#3f63a1; height: 9%%;">   
    </div>

    <!-- jQuery -->
    <script src="javascripts/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="javascripts/bootstrap.min.js"></script>

    <!-- Javascript functions for the page -->
    <script>
        var activities = <%-JSON.stringify(activitiesJSON)%>;
    </script>
    <script src="javascripts/activity.js"></script>

</body>

</html>
