<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../views/partials/head %>
</head>

<body>
    <header>
        <% include ../views/partials/header %>
    </header>
    
    <div id="services" class="services bg-primary1" style="padding:10px">
    </div>

    <!-- jQuery -->
    <script src="javascripts/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="javascripts/bootstrap.min.js"></script>

    <script>
        var activities = <%-JSON.stringify(activitiesJSON)%>;
        var activity;   
        var urlParams = new URLSearchParams(window.location.search);
        id = urlParams.get('id');
        for(var i=0; i<activities.activities.length; i++) {
            if(activities.activities[i].id == id)
            {
                activity = activities.activities[i];
            }
        }

        var btn1 = function(id) 
        {
        window.location.href = '/chat?id='+id;
        }

        var populatePage = function(){
            var parent = document.getElementById("services");
            var newdiv = document.createElement("div");
            newdiv.className = "container";
            newdiv.innerHTML = 
            '<div class="row text-center">'+

                ' <div class="col-xs-12 col-md-8">'+
                    ' <h2>'+activity.name+'</h2>'+
                    ' <br/>'+ 
                ' </div>'+

                ' <div class="col-xs-6 col-md-4">'+
                    ' <img height="180" width="180" src="'+activity.pictures[0].src+'">'+
                    ' <br/>'+ 
                ' </div>'+

                ' <div class="col-xs-6 col-md-4" style = "padding-top:28px">'+
                    '<span>'+
                        '<img height="80" width="80" padding="6px" style = "margin-right:8px; margin-right:8px" src="images/otherUser.png"> '+
                         '<h4>'+ activity.hostName+ '</h4>'+
                    ' </span>'+                  
                ' </div>'+

                ' <div>'+

                    ' <div class="row text-center">'+

                        ' <div class="col-xs-12 col-md-8">'+
                            

                            ' <div class="row">'+
                                ' <div class="col-md-12 col-sm-6">'+
                                ' <div id="divwithtags" class="service-item">'+

                                ' <h4>'+activity.description+'</h4>'+
                                ' <div class="row">'+

                                    ' <div class="col-md-3 col-sm-6 activitytags">'+
                                        ' <h5><i class="fa fa-clock-o" aria-hidden="true"></i> Approx '+activity.maxTimeInMin+' min</h5>'+
                                    ' </div>'+
                                    ' <div class="col-md-3 col-sm-6 activitytags">'+
                                        ' <h5><i class="fa fa-usd" aria-hidden="true"></i> Max $'+activity.maxCost+'</h5>'+
                                    ' </div>'+

                                ' </div>'+

                            ' </div>'+                            

                        ' </div>'+

                    ' </div>'+

                ' </div>'+

                ' <div class="col-xs-12 col-md-8" style = "padding-top:28px">'+
                    ' <br />'+
                    ' <a href="#" onclick=\'btn1('+activity.id+')\' class="btn btn-lg btn-light1"><i class="fa fa-comments" aria-hidden="true"></i> Contact '+activity.hostName+'</a>'+                
                ' </div>'+

            ' </div>';
            parent.append(newdiv);

            var tags = document.createElement("div");
            tags.className = "col-md-3 col-sm-6 activitytags";
            tags.innerHTML = "";
            for(var i=0; i<activity.filters.length; i++) {
                if(activity.filters[i].value == 1)
                {
                    if(activity.filters[i].name=="alcohol")
                    {
                        tags.innerHTML += '<h5><i class="fa fa-glass" aria-hidden="true"></i>'+activity.filters[i].name+'</h5> ';
                    }
                    else if(activity.filters[i].name=="childsafe")
                    {
                        tags.innerHTML += '<h5><i class="fa fa-child" aria-hidden="true"></i>'+activity.filters[i].name+'</h5> ';
                    }
                    else
                    {
                        tags.innerHTML += '<h5><i class="fa" aria-hidden="true"></i>'+activity.filters[i].name+'</h5> ';
                    }
                }
            }
            document.getElementById("divwithtags").append(tags);
        }


        populatePage();
    </script>

    <script>
          var goBack = function()
          {
            window.location.href = '/'
          }
    </script>

</body>

</html>
