<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../views/partials/head %>
</head>
<body>
    <header>
        <% include ../views/partials/header %>
    </header>
    
    <div style="text-align: center">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2">
                    <h1>Add Activity</h1>
                    <form id="addActivityForm">
                      <div class="input-group" style="margin: 20px">
                        <span class="input-group-addon"><i class="fa fa-globe" aria-hidden="true"></i></span>
                        <input id="user" type="text" class="form-control" name="name" value="" placeholder="activity name" required>
                      </div>

                      <div class="input-group" style="margin: 20px">
                        <span class="input-group-addon"><i class="fa fa-info-circle" aria-hidden="true"></i></span>
                        <input id="desc" type="text" class="form-control" name="description" placeholder="description" required>
                      </div>

                      <div class="input-group" style="margin: 20px">
                        <span class="input-group-addon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                        <input id="user" type="text" class="form-control" name="location" placeholder="location" required>
                      </div>

                      <div class="input-group" style="margin: 20px">
                        <span class="input-group-addon"><i class="fa fa-usd" aria-hidden="true"></i></span>
                        <input id="user" type="text" class="form-control" name="maxCost" value="" placeholder="maximum cost" required>
                      </div>

                      <div class="input-group" style="margin: 20px">
                        <span class="input-group-addon"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
                        <select class="form-control" id="timeeSelect">
                          <option>30 mins</option>
                          <option>1 hr</option>
                          <option>2 hrs</option>
                          <option>3 hrs</option>
                          <option>5 hrs</option>
                          <option>8 hrs</option>
                        </select>
                      </div>

                      <div class="form-group">
                        <label>Choose Tags</label>
                        <div class="input-group" style="margin: 5px 20px;">
                          <span class="input-group-addon"><i class="fa fa-child" aria-hidden="true"></i></span>
                          <input id="user" type="checkbox" class="form-control" name="childsafe" value="" placeholder="cost">
                          <span class="input-group-addon"><i class="fa fa-tree" aria-hidden="true"></i></span>
                          <input id="user" type="checkbox" class="form-control" name="outdoor" value="" placeholder="cost">
                          <span class="input-group-addon"><i class="fa fa-beer" aria-hidden="true"></i></span>
                          <input id="user" type="checkbox" class="form-control" name="alcohol" value="" placeholder="cost">
                          <span class="input-group-addon"><i class="fa fa-cutlery" aria-hidden="true"></i></span>
                          <input id="user" type="checkbox" class="form-control" name="food" value="" placeholder="cost">
                        </div>
                        <div class="row" style="margin: 0px 10px;">
                          <div class="col-lg-3 col-xs-3 col-sm-3">Childproof</div>
                          <div class="col-lg-3 col-xs-3 col-sm-3">Outdoors</div>
                          <div class="col-lg-3 col-xs-3 col-sm-3">Alcohol</div>
                          <div class="col-lg-3 col-xs-3 col-sm-3">Food</div>
                        </div>
                      </div>

                  <!-- Accent-colored raised button with ripple -->
                  <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary" style="background-color:#446EB6">
                    SUBMIT
                  </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
          var goBack = function()
          {
            window.location.href = '/'
          }
    </script>

    <script>
          var btn1 = function() 
          {            
            window.alert("Location changes (happens with a map plugin)");
          }

          $('#addActivityForm').submit(function (event) {
            event.preventDefault();
            var formData = $(this).serializeObject();
            var data = {
              name: formData.name,
              description: formData.description,
              maxCost: parseInt(formData.maxCost),
              maxTimeInMin: parseInt(formData.maxTimeInMin),
              childsafe: !!formData.childSafe,
              outdoor: !!formData.outdoor,
              alcohol: !!formData.alcohol,
              food: !!formData.food
            };
            $.post('/api/activity', data, function success() {
              window.location.href = '/';
            });
          });
    </script>
  </body>
</html>
