<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../views/partials/head %>
</head>
<body>
    <header>
        <% include ../views/partials/header %>
        <% include ../views/partials/back %>
    </header>
    
    <div style="text-align: center">
        <p>ADD ACTIVITY</p>
        <form action="demo_form.asp">
            Activity name: <input type="text" name="fname"><br>
            Location: 55 STREET  <input type="button" value="change" onclick = 'btn1()'><br>
            Add photo: <input type="button" value="change" onclick = 'window.alert("takes you to camera to click a picture")'><br>
            How long will this take? <input type="text" name="fname"><br>
            Approximate cost: <input type="text" name="fname"><br><br>

            Choose tags<br>
            <input type="checkbox" name="fil" value="cs" checked="checked">Child safe<br>
            <input type="checkbox" name="fil" value="a">Alcohol<br>
            <input type="checkbox" name="fil" value="f">Food<br>
            
        </form>
        <button onclick='btn2()'>Save Activity</button>
    </div>

    <script>
          var goBack = function()
          {
            window.location.href = '/'
          }
    </script>

    <script>
          var btn1 = function() 
          {            
            window.alert("Location changes (happens with a map plugin)");
          }

          var btn2 = function() 
          {
            window.alert("Activity Saved");
            window.location.href = '/'
          }
    </script>
  </body>
</html>
