<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../views/partials/head %>
</head>
<body>
    <header>
        <% include ../views/partials/header %>
    </header>
    <link rel="stylesheet" href="stylesheets/addActivityImg.css">
    <div style="text-align: center">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2">
                    <h2>Add Activity</h2>
                  <form id="addActivityForm">

                    <div id="addmomentbtn">
                      <img id='img-upload' src="https://res.cloudinary.com/din6mjlbd/image/upload/v1488516490/takeAPicture_fiogit.png" class="img-thumbnail"/>
                      <div>
                      <span><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp &nbsp Cortez Hill, San Diego, CA 92101, USA</span>
                      </div>
                    </div>

                      <div class="input-group" style="margin: 15px">
                        <span class="input-group-addon"><i class="fa fa-globe" aria-hidden="true"></i></span>
                        <input id="user" type="text" class="form-control" name="name" value="" placeholder="activity name" required>
                      </div>

                      <div class="input-group" style="margin: 15px">
                        <span class="input-group-addon"><i class="fa fa-info-circle" aria-hidden="true"></i></span>
                        <input id="desc" type="text" class="form-control" name="description" placeholder="description" required>
                      </div>

                      <div class="input-group" style="margin: 15px">
                        <span class="input-group-addon"><i class="fa fa-usd" aria-hidden="true"></i></span>
                        <input id="user" type="number" class="form-control" name="maxCost" value="" placeholder="maximum cost" required>
                      </div>

                      <div class="input-group" style="margin: 15px">
                        <span class="input-group-addon"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
                        <select class="form-control" id="timeSelect" name="time">
                          <option>30 mins</option>
                          <option>1 hr</option>
                          <option>2 hrs</option>
                          <option>3 hrs</option>
                          <option>5 hrs</option>
                          <option>8 hrs</option>
                        </select>
                      </div>

<!--                         <label>Choose Tags</label>
                        <div class="input-group" style="margin: 5px 20px;">
                          <span class="input-group-addon"><i class="fa fa-child" aria-hidden="true"></i></span>
                          <input type="checkbox" class="form-control" name="childsafe">
                          <span class="input-group-addon"><i class="fa fa-tree" aria-hidden="true"></i></span>
                          <input type="checkbox" class="form-control" name="outdoor">
                          <span class="input-group-addon"><i class="fa fa-beer" aria-hidden="true"></i></span>
                          <input type="checkbox" class="form-control" name="alcohol">
                          <span class="input-group-addon"><i class="fa fa-cutlery" aria-hidden="true"></i></span>
                          <input type="checkbox" class="form-control" name="food">
                        </div>
                        <div class="row" style="margin: 0px 10px;">
                          <div class="col-lg-3 col-xs-3 col-sm-3">Childproof</div>
                          <div class="col-lg-3 col-xs-3 col-sm-3">Outdoors</div>
                          <div class="col-lg-3 col-xs-3 col-sm-3">Alcohol</div>
                          <div class="col-lg-3 col-xs-3 col-sm-3">Food</div>
                        </div> -->
                        <div class="row text-center">
                          <div class="col-xs-12 col-md-8 col-sm-6">
                          <table style="width:100%; text-align:center">
                            <tr>
                              <td style="width:20%">
                                <div id="childsafe" onclick=filterClick("childsafe") style="background-color:rgba(68, 110, 182, 0.31); padding-top: 6px; padding-bottom: 6px; margin: 2px;"> 
                                  <i id="childsafei" class="fa fa-child" aria-hidden="true" style="color:#446EB6; opacity:0.3; font-size:40px"></i>
                                </div> Childsafe
                              </td>
                              <td style="width:20%">
                                <div id="alcohol" onclick=filterClick("alcohol") style="background-color:rgba(68, 110, 182, 0.31); padding-top: 6px; padding-bottom: 6px; margin: 2px;"> 
                                  <i id="alcoholi" class="fa fa-glass" aria-hidden="true" style="color:#446EB6; opacity:0.3; font-size:40px"></i>
                                </div> Alcohol
                              </td>
                              <td style="width:20%">
                                <div id="food" onclick=filterClick("food") style="background-color:rgba(68, 110, 182, 0.31); padding-top: 6px; padding-bottom: 6px; margin: 2px;"> 
                                  <i id="foodi" class="fa fa-cutlery" aria-hidden="true" style="color:#446EB6; opacity:0.3; font-size:40px"></i>
                                </div> Food
                              </td>
                              <td style="width:20%">
                                <div id="outdoor" onclick=filterClick("outdoor") style="background-color:rgba(68, 110, 182, 0.31); padding-top: 6px; padding-bottom: 6px; margin: 2px;"> 
                                  <i id="outdoori" class="fa fa-tree" aria-hidden="true" style="color:#446EB6; opacity:0.3; font-size:40px"></i>
                                </div> Outdoor
                              </td>
                            </tr>
                          </table>
                        </div>
                        </div>
                      <!-- Accent-colored raised button with ripple -->
                      <br/>
                      <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary" style="background-color:#446EB6; width:40%">SUBMIT</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>

      var childsafe=false;
      var outdoor=false;
      var food=false;
      var alcohol=false;
      
      //Save and Close Button
      var pictureUpload = document.getElementById("img-upload");

      pictureUpload.onclick = function() {
        document.getElementById("img-upload").src = "https://res.cloudinary.com/din6mjlbd/image/upload/v1487334028/dummy_host4_v2wfpn.jpg";
        //document.getElementById("picUploadText").placeholder = "change picture";
      }

      var filterClick = function(filter)
      {
        var checked = false;

        var filterDiv = document.getElementById(filter);
        var iEl = document.getElementById(filter+'i');

        if(filter=="childsafe")
        {
            childsafe = !childsafe;
            checked = childsafe ? true : false;
        }
        else if (filter=="alcohol")
        {
            alcohol = !alcohol;
            checked = alcohol ? true : false;
        }
        else if (filter=="food")
        {
            food = !food;
            checked = food ? true : false;
        }
        else if (filter=="outdoor")
        {
            outdoor = !outdoor;
            checked = outdoor ? true : false;
        }

        if(checked)
        {          
          filterDiv.style.backgroundColor = "#446EB6";
          filterDiv.style.boxShadow = "2px 4px 8px 2px rgba(0,0,0,0.1)";
          iEl.style.color = "white";
          iEl.style.opacity= "1";
        }
        else
        {
          filterDiv.style.backgroundColor = "rgba(68, 110, 182, 0.31)";
          filterDiv.style.boxShadow = "0px 0px 0px 0px rgba(0,0,0,0.1)";
          iEl.style.color = "#446EB6";
          iEl.style.opacity= "0.3";
        }

      }

      var btn1 = function() 
      {            
        window.alert("Location changes (happens with a map plugin)");
      }


      $('#addActivityForm').submit(function (event) {
        event.preventDefault();
        var formData = $(this).serializeObject();
        var data = {
          name: formData.name,
          description: formData.description,
          //location: {lat: 32.722679, lng: -117.162289},
          maxCost: formData.maxCost,
          maxTimeInMin: formData.time,
          childsafe: childsafe,
          outdoor: outdoor,
          alcohol: alcohol,
          food: food
        };
        $.post('/api/activity', data, function success() {
          window.location.href = '/';
        });
      });
    </script>
  </body>
</html>
