<!DOCTYPE html>
<html >
<head>
    <% include ../views/partials/head %>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans'>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.3/jquery.mCustomScrollbar.min.css'>
    <link rel="stylesheet" href="stylesheets/chat.css">

    <style>
     div.vertical-line{
      width: 1px; 
      background-color: black; 
      height: 100%; 
      float: left; 
      }
    </style>

    <!-- Javascript -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.3/jquery.mCustomScrollbar.concat.min.js'></script>
  
</head>

<body>
    <header>
        <% include ../views/partials/header %>
    </header>

    <!-- CHAT WINDOW -->
    <div class="chat">
      <div id="userdiv"class="chat-title" style="background-color: #f5f5f5">
        <figure class="avatar">
          <img src="images/otherUser.png" />
        </figure>
      </div>
      <div class="messages" style="background-color: #f5f5f5">
        <div class="messages-content"></div>
      </div>
      <div class="message-box" style="background-color: #f5f5f5">
        <textarea type="text" class="message-input" placeholder="Type message..."></textarea>
        <button type="submit" class="message-submit"><i class="material-icons" style="color:grey">send</i></button>
      </div>
    </div>
    <div class="bg" style="background-color: #f5f5f5;"></div>

    <!-- BUTTONS BELOW -->
    <div id="exitbtndiv" class="exitButton" style="text-align: center; background-color:#3f63a1">
            <a id="goingbtn" href="/logexperience">
              <button class="mdl-button mdl-js-button" style="width:49%; color:#f5f5f5">
                We're going!
              </button>
            </a>       
            <a onclick="btn2()">
              <button class="mdl-button mdl-js-button" style="width:49%; color:#f5f5f5; height: 100%; border-left: white; border-left-style: solid;">
                It didn't work out
              </button>
            </a>     
    </div>
    
    <!-- Get global variables -->
    <script>
      var activities =<%-JSON.stringify(activitiesJSON)%>
      var users =<%-JSON.stringify(usersJSON)%>
    </script>

</body>
</html>
