<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../views/partials/head %>
</head>
<body>

    <header>
        <% include ../views/partials/header %>
    </header>
    
    </aside>
    <div style="text-align: center">
	    <p>CHAT WINDOW BETWEEN HOST AND USER</p>
        <br>
        John says: Hi! I would love to go painting! <br>
        Ann says: That's awesome! <br>
        Enter Message: <input type="text" name="fname"><br> <br>
	    <button onclick='btn1()'>We're going!</button>
	    <button onclick='btn2()'>It didn't work out</button>
	</div>

	<script>
    	  var btn1 = function() 
    	  {
    		window.location.href = '/logexperience'
  		  }

  		  var btn2 = function() 
    	  {
    		window.alert("Activity cancelled");
    		window.location.href = '/'
  		  }
    </script>
  </body>
</html>
