<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../views/partials/head %>
</head>
<body>
    <header>
        <% include ../views/partials/header %>
    </header>
    
    <div style="text-align: center">
	    <p>CHOOSE FILTERS</p>
        <form action="demo_form.asp">
            <input type="checkbox" name="fil" value="cs" checked="checked">Child safe<br>
            <input type="checkbox" name="fil" value="a">Alcohol<br>
            <input type="checkbox" name="fil" value="f">Food<br>            
        </form>        
        <button onclick='btn1()'>Apply</button>
	</div>

    <!--Sticky Modal-->

    <!--div class="container">
      <div class="row">
        <a class="btn btn-primary" data-toggle="modal" href="#myModal">Login</a>
        <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label=""><span>×</span></button>
                <h4 class="modal-title" style="text-align:center">mianadnan32@gmail.com</h4>
              </div>
              <div class="modal-body">
                <form role="form" method="post" action="" class="form-horizontal">
                  <div class="form-group row">
                    <label class="control-label col-md-3 col-md-offset-2" for="exampleInputEmail" style="text-align:left;">
                      Email address
                    </label>
                    <input type="email" class="form-control col-md-5" id="exampleInputEmail" placeholder="Enter email">
                  </div>
                  <div class="form-group row">
                    <label class="control-label col-md-3 col-md-offset-2" for="passwd" style="text-align:left;">
                      Password
                    </label>
                    <input type="password" class="form-control col-md-5" id="passwd" placeholder="Password">
                  </div>
                  <div class="form-group row">
                    <div class="checkbox col-md-4 col-md-offset-5">
                      <label>
                        <input type="checkbox"> Remember me
                      </label>
                    </div>
                    <button type="submit" class="btn btn-success">Submit</button>
                  </div>
                </form>

              </div>
              <div class="modal-footer">
                New To Site?
                <a href="#" class="btn btn-info">Register</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div-->

    <!--Sticky Modal-->

    <script>
          var goBack = function()
          {
            window.location.href = '/'
          }
    </script>

	<script>
    	  var btn1 = function() 
    	  {            
            window.alert("Filters applied");
    		window.location.href = '/'
  		  }
    </script>
  </body>
</html>
