<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../views/partials/head %>
</head>
<body>
    <header>
        <% include ../views/partials/header %>
    </header>
    
    <div style="text-align: center">
	    <p>CHOOSE FILTERS</p>
        <form action="demo_form.asp">
            <input type="checkbox" name="fil" value="cs" checked="checked">Child safe<br>
            <input type="checkbox" name="fil" value="a">Alcohol<br>
            <input type="checkbox" name="fil" value="f">Food<br>            
        </form>        
        <button onclick='btn1()'>Apply</button>
	</div>

	<script>
    	  var btn1 = function() 
    	  {            
            window.alert("Filters applied");
    		window.location.href = '/'
  		  }
    </script>
  </body>
</html>
