<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Trouvaille</title>

    <link rel="stylesheet" href="stylesheets/load.css">
</head>
<body style="background-color:#446EB6; text-align:center; color:white; vertical-align:middle;">

  <div class="load"></div>
  <h1>Trouvaille</h1>
  <h2>Discover something wonderful by chance.</h2>
    <div class="loadwrapper">
        <div class="inner">
            <span>L</span>
            <span>o</span>
            <span>a</span>
            <span>d</span>
            <span>i</span>
            <span>n</span>
            <span>g</span>
        </div>
    </div>
    <!-- jQuery -->
    <script src="javascripts/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="javascripts/bootstrap.min.js"></script>
    <script>

        // $(window).load(function() {
        //       $(".load").fadeOut("slow");
        //       $(".loadwrapper").fadeOut("slow");
        //   })

          $(document).ready(function() {
           
              setTimeout(function(){move();}, 2500);
           
          });

          var move = function()
          {
            window.location.href = '/'
          }

    </script>
</body>

</html>
