<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../views/partials/head %>

    <!-- Google Maps 55px; 89px-->
    <style>
         #map {
           width: 100%;
           height: 630px;
           background-color: grey;
           top: 0px;
          }

         #wrapper { position: relative; }

         #over_map { position: absolute; top: 59px; right: 15px; z-index: 99; }

         #legend {
            height:12px;
            background: #fff;
            padding: 0px;
            margin: 0px;
          }

    </style>

</head>

<body>
<div>
    <!-- Header for the home page -->
    <header>
      <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

        <div class="android-header mdl-layout__header mdl-layout__header--waterfall">
        
          <div class="mdl-layout__header-row" style="background-color:#446EB6; padding:0px 6px 0px 2px;">
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
                <i class="material-icons">menu</i>
            </button>
            <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-left" for="hdrbtn">
              <li class="mdl-menu__item"><span class="mdl-navigation__link" style="color:#446EB6" href="#" onclick='profileclick()'>My Profile</span></li>
              <li class="mdl-menu__item"><span class="mdl-navigation__link" style="color:#446EB6" href="#" onclick='ongoingclick()'>Ongoing Activities</span></li>        
              <li class="mdl-menu__item"><span class="mdl-navigation__link" style="color:#446EB6" href="#" onclick='memoryclick()'>Memories</span></li>
              <li class="mdl-menu__item"><span class="mdl-navigation__link" style="color:#446EB6" href="#" onclick='aboutclick()'>About</span></li>
              <li class="mdl-menu__item"><span class="mdl-navigation__link" style="color:#446EB6" href="#" onclick='logoutClick()'>Logout</span></li>
            </ul>
            <!-- Add spacer, to align navigation to the right in desktop -->
            <div class="android-header-spacer mdl-layout-spacer"></div>
            <span class="android-mobile-title mdl-layout-title">
                  <a href="/"><img class="android-logo-image" src="images/logo.png"></a>
            </span>
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>
      <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    </header>
    
    <!-- PAGE CONTENT -->
    <div id="wrapper">
       <!-- Google map -->
       <div id="google_map">
            <div id="map"></div>
            <div id="legend" style="text-align:center">
              <span>
                <img style="opacity: 0.8;" src="images/blueMarker.png"></img>&nbsp Available Activities &nbsp
                <img style="opacity: 0.8;" src="images/greenMarker.png"></img>&nbsp Ongoing Activities &nbsp
                <img style="opacity: 0.8;" src="images/orangeMarker.png"></img>&nbsp Own Activities &nbsp
              </span>
            </div>
       </div>
        <!-- Add activity and filter buttons overlayed on map -->
        <div id="over_map" width="100%" height="650px">

            <div class="row">

                <div class="col-lg-12 text-center" style="margin: 5px 5px;">
                <button onclick='addclick()' class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" style="background-color:#446EB6">
                  <i class="material-icons">add</i>
                </button>
                </div>

                <div class="col-lg-12 text-center" style="margin: 10px 5px;">
                  <button id="show-dialog" class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" style="background-color:#446EB6">
                    <i class="fa fa-sliders" aria-hidden="true"></i>
                  </button>
                </div>
        </div>
    </div>
    

    <!-- FILTER DIALOG -->
    <dialog class="mdl-dialog">
      <h3 style="color:#446EB6;" class="mdl-dialog__title">Filters</h3>
      <div class="mdl-dialog__content">
        <!-- <p>Please choose the appropriate filters</p> -->
        <form action="demo_form.asp">
          <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-1">
            <input type="checkbox" id="switch-1" class="mdl-switch__input" checked>
            <span class="mdl-switch__label">Child Safe</span>
          </label>
          <br><br>
          <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-2">
            <input type="checkbox" id="switch-2" class="mdl-switch__input">
            <span class="mdl-switch__label">Alcohol</span>
          </label>
          <br><br>
          <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-3">
            <input type="checkbox" id="switch-3" class="mdl-switch__input">
            <span class="mdl-switch__label">Food</span>
          </label>
          <br><br>
          <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-4">
            <input type="checkbox" id="switch-4" class="mdl-switch__input" checked>
            <span class="mdl-switch__label">Outdoors</span>
          </label>
        </form>
      </div>
      <div class="mdl-dialog__actions">
        <button style="color:#446EB6; opacity:.8;" type="button" class="mdl-button close">Done</button>
      </div>
    </dialog>


    <!-- SCRIPT FOR FILTER DIALOG -->
    <script>

      var dialog = document.querySelector('dialog');
      var showDialogButton = document.querySelector('#show-dialog');
      if (! dialog.showModal) {
        dialogPolyfill.registerDialog(dialog);
      }
      showDialogButton.addEventListener('click', function() {
        dialog.showModal();
      });
      dialog.querySelector('.close').addEventListener('click', function() {
        var childproof_bool = (document.getElementById("switch-1").checked);
        var alcohol_bool = (document.getElementById("switch-2").checked);
        var food_bool = (document.getElementById("switch-3").checked);
        var outdoor_bool = (document.getElementById("switch-4").checked);
        dialog.close();
      });
    </script>

    <!-- Bootstrap Core JavaScript -->
    <script src="javascripts/bootstrap.min.js"></script>

    <script>
      var logoutClick = function()
      {
            window.location.href = '/login';
      }
    </script>

    <!-- Custom Theme JavaScript -->
    <script>
        // Closes the sidebar menu
        $("#menu-close").click(function(e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });
        // Opens the sidebar menu
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });
        // Scrolls to the selected menu item on the page
        $(function() {
            $('a[href*=#]:not([href=#],[data-toggle],[data-target],[data-slide])').click(function() {
                if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {
                    var target = $(this.hash);
                    target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                    if (target.length) {
                        $('html,body').animate({
                            scrollTop: target.offset().top
                        }, 1000);
                        return false;
                    }
                }
            });
        });
        //#to-top button appears after scrolling
        var fixed = false;
        $(document).scroll(function() {
            if ($(this).scrollTop() > 250) {
                if (!fixed) {
                    fixed = true;
                    // $('#to-top').css({position:'fixed', display:'block'});
                    $('#to-top').show("slow", function() {
                        $('#to-top').css({
                            position: 'fixed',
                            display: 'block'
                        });
                    });
                }
            } else {
                if (fixed) {
                    fixed = false;
                    $('#to-top').hide("slow", function() {
                        $('#to-top').css({
                            display: 'none'
                        });
                    });
                }
            }
        });
    </script>

    <!-- Maps -->
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDdV_CqEBtoB4xae7DEXjtsHSCTZOZI9m0&callback=initMap">
    </script>

    <!-- Create pins on map based on activities and their state -->
    <script>
        var dialog = document.querySelector('dialog');
        dialog.querySelector('.close').addEventListener('click', function() {
          initMap();
        });
        var map;
        var activities = <%-JSON.stringify(activitiesJSON)%>
        var ownactivities = <%-JSON.stringify(ownactivitiesJSON)%>
        var activitylog =<%-JSON.stringify(activitylogJSON)%>


        function initMap() {
          var center = {lat: 32.715738, lng: -117.161084};
          var style = [
              {
                featureType: "all",
                elementType: "all",
                stylers: [
                  { saturation: -100 } // <-- THIS
                ]
              }
          ];

          map = new google.maps.Map(document.getElementById('map'), {
            zoom: 14,
            center: center,
            streetViewControl: false,
            mapTypeControlOptions: {
                    mapTypeIds: [google.maps.MapTypeId.ROADMAP, 'greyscale']
               }
          });

          var mapType = new google.maps.StyledMapType(style, { name:"Grayscale" });    
          map.mapTypes.set('greyscale', mapType);
          map.setMapTypeId('greyscale');     

          addMarkers("446EB6");
        }


        // var legend = document.getElementById('legend');
        // var div = document.createElement('div');
        // div.innerHTML = '<h1>hi</hi>';
        // legend.appendChild(div);

        //map.controls[google.maps.ControlPosition.RIGHT_BOTTOM].push(legend);


        function addMarkers(color)
        {
            var infowindow = new google.maps.InfoWindow();
            var childproof_bool = (document.getElementById("switch-1").checked)&1;
            var alcohol_bool = (document.getElementById("switch-2").checked)&1;
            var food_bool = (document.getElementById("switch-3").checked)&1;
            var outdoor_bool = (document.getElementById("switch-4").checked)&1;

            var current = false;

            // LOOP THROUGH ACTIVITIES TO CREATE MARKER
            for(var i=0; i<activities.activities.length; i++) {
                var filter = activities.activities[i].filters;
                if(filter[0].value==childproof_bool&&filter[1].value==outdoor_bool&&filter[2].value==alcohol_bool&&filter[3].value==food_bool){

                  for(var j=0; j<activitylog.activitylog.length; j++) {
                    if(activitylog.activitylog[j].activityid == activities.activities[i].id)
                    {
                        current = false;
                        if(activitylog.activitylog[j].past)
                        {
                          continue;
                        }
                        else
                        {
                          color="6ab344";
                          current = true;
                        }
                    }
                  }

                  if(activities.activities[i].own==1)
                  {
                    color="E67E22";
                  }

                  // CREATE PIN
                  var pinColor = color;
                  var pinImage = new google.maps.MarkerImage("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|" + pinColor,
                    new google.maps.Size(21, 34),
                    new google.maps.Point(0,0),
                    new google.maps.Point(10, 34));
                  var pinShadow = new google.maps.MarkerImage("http://chart.apis.google.com/chart?chst=d_map_pin_shadow",
                    new google.maps.Size(40, 37),
                    new google.maps.Point(0, 0),
                    new google.maps.Point(12, 35));

                  var latLng = new google.maps.LatLng(activities.activities[i].location.lat,activities.activities[i].location.lng);

                  var marker = new google.maps.Marker({
                    position: latLng,
                    map: map,
                    icon: pinImage,
                    shadow: pinShadow
                  });

                  google.maps.event.addListener(marker, 'click', (function(marker, i) {
                    return function() {
                      if(activities.activities[i].own==1)
                      {
                        infowindow.setContent('<div id="content">'+
                          '<div id="siteNotice">'+
                          '</div>'+
                          '<h1 id="firstHeading" class="firstHeading">'+activities.activities[i].name+'</h1>'+
                          '<div id="bodyContent">'+
                          '<p>'+activities.activities[i].description+'</p>'+
                          '<p>Host: '+activities.activities[i].hostName+
                          '</p>'+
                          '<img height="140" width="140" src="'+activities.activities[i].pictures[0].src+'">'+
                          '<p> </div>'+
                          '</div>');

                      }
                      else
                      {
                        infowindow.setContent(
                          '<div>'+
                            '<h3 id="firstHeading" onclick=activityclick('+activities.activities[i].id+','+current+') class="firstHeading">'+activities.activities[i].name+'</h3>'+

                            '<div id="bodyContent" style="content-align:center">'+
                              '<table style="content-align:center">'+
                                '<tr style="content-align:center">'+
                                  '<td style="content-align:center">'+   
                                    '<table>'+
                                      '<tr>'+
                                        '<td>'+                          
                                        '<img height="40" width="40" padding="8px" src="images/otherUser.png">'+
                                        '</td>'+

                                        '<td style="vertical-align: center">'+   
                                        '<h5>'+activities.activities[i].hostName+'</h5>'+                       
                                        '</td>'+
                                      '</tr>'+
                                    '</table>'+                      
                                  '</td>'+
                                '</tr>'+

                                '<tr>'+
                                  '<td>'+                          
                                  '<img onclick=activityclick('+activities.activities[i].id+','+current+') height="120" width="120" src="'+activities.activities[i].pictures[0].src+'">'+
                                  '</td>'+                                  
                                '</tr>'+

                                '<tr>'+
                                  '<td>'+                          
                                  '<p><br/><a href="#" onclick=activityclick('+activities.activities[i].id+','+current+')>View</a></p>'+
                                  '</td>'+
                                '</tr>'+
                              '</table>'+
                            '</div>'+
                          '</div>'
                          );
                      }

                      infowindow.open(map, marker);
                    }
                  })(marker, i));

                }
                else {
                }
            }
        }
    </script>

</body>

</html>
