<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../views/partials/head %>
</head>
<body>
    <header>
        <% include ../views/partials/header %>
    </header>
    
    <div style="text-align: center">
	    <p>LOG EXPERIENCE/ACTIVITY</p>
	    <button onclick='btn1()'>Add log entry</button>
	    <button onclick='btn2()'>Save Experience</button>
        <button onclick='btn3()'>Cancel Experience</button>
	</div>

	<script>
    	  var btn1 = function() 
    	  {
    		window.location.href = '/logexperiencepopup'
  		  }

  		  var btn2 = function() 
    	  {
            window.alert("Experience saved!");
    		window.location.href = '/'
  		  }

          var btn3 = function() 
          {
            window.alert("Experience abandoned!");
            window.location.href = '/'
          }
    </script>
  </body>
</html>
