<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../views/partials/head %>
</head>
<body>
    <header>
        <% include ../views/partials/header %>
    </header>
    
    <div style="text-align: center">
	    <p>LOG EXPERIENCE POPUP</p>
	    <button onclick='btn1()'>Add photo and comment</button>
	    <button onclick='btn2()'>Save</button>
        <button onclick='btn3()'>Cancel</button>
	</div>

	<script>
    	  var btn1 = function() 
    	  {

            window.alert("Takes you to camera where you click a picture and caption it");
  		  }

  		  var btn2 = function() 
    	  {
    		window.alert("Experience logged");
    		window.location.href = '/logexperience'
  		  }

          var btn3 = function() 
          {
            window.alert("Experience logging cancelled");
            window.location.href = '/logexperience'
          }
    </script>
  </body>
</html>
