<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../views/partials/head %>
    
    <link rel="stylesheet" type="text/css" href="stylesheets/myprofile.css">

</head>

<body>
    <header>
        <% include ../views/partials/header %>
    </header>

    <!-- Profile Area -->
    <aside class="profile-card">
      <header>
        <!-- here’s the avatar -->
        <a href="#">
          <img src="https://cdn.famousoutfits.com/wp-content/uploads/2014/09/profile-chris-pratt.png">
        </a>
        <!-- the username -->
        <h1>Your Name Here</h1>
        <!-- and role or location -->
        <h2>Where do you currently live?</h2>
      </header>
      <!-- bit of a bio; who are you? -->
      <div class="profile-bio">
        <p>Write out a brief bio about yourself so other users can get to know you!
        </p>
      </div>
    </aside>

    <!-- the edit button 
    <div class="row">

        <div class="col-lg-12 text-center" style="margin: 5px 5px;">
          <button id="update" class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" style="background-color: #446EB6">
              <i class="material-icons">mode_edit</i>
          </button>
        </div>  
    </div>
    -->
    
    <script type="text/javascript"></script>
     
    <!-- jQuery -->
    <script src="javascripts/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="javascripts/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <!--<script>
    // // Closes the sidebar menu
    // $("#menu-close").click(function(e) {
    //     e.preventDefault();
    //     $("#sidebar-wrapper").toggleClass("active");
    // });
    // // Opens the sidebar menu
    // $("#menu-toggle").click(function(e) {
    //     e.preventDefault();
    //     $("#sidebar-wrapper").toggleClass("active");
    // });
    // // Scrolls to the selected menu item on the page
    // $(function() {
    //     $('a[href*=#]:not([href=#],[data-toggle],[data-target],[data-slide])').click(function() {
    //         if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {
    //             var target = $(this.hash);
    //             target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
    //             if (target.length) {
    //                 $('html,body').animate({
    //                     scrollTop: target.offset().top
    //                 }, 1000);
    //                 return false;
    //             }
    //         }
    //     });
    // });
    // //#to-top button appears after scrolling
    // var fixed = false;
    // $(document).scroll(function() {
    //     if ($(this).scrollTop() > 250) {
    //         if (!fixed) {
    //             fixed = true;
    //             // $('#to-top').css({position:'fixed', display:'block'});
    //             $('#to-top').show("slow", function() {
    //                 $('#to-top').css({
    //                     position: 'fixed',
    //                     display: 'block'
    //                 });
    //             });
    //         }
    //     } else {
    //         if (fixed) {
    //             fixed = false;
    //             $('#to-top').hide("slow", function() {
    //                 $('#to-top').css({
    //                     display: 'none'
    //                 });
    //             });
    //         }
    //     }
    // });
    // // Disable Google Maps scrolling
    // // See http://stackoverflow.com/a/25904582/1607849
    // // Disable scroll zooming and bind back the click event
    // var onMapMouseleaveHandler = function(event) {
    //     var that = $(this);
    //     that.on('click', onMapClickHandler);
    //     that.off('mouseleave', onMapMouseleaveHandler);
    //     that.find('iframe').css("pointer-events", "none");
    // }
    // var onMapClickHandler = function(event) {
    //         var that = $(this);
    //         // Disable the click handler until the user leaves the map area
    //         that.off('click', onMapClickHandler);
    //         // Enable scrolling zoom
    //         that.find('iframe').css("pointer-events", "auto");
    //         // Handle the mouse leave event
    //         that.on('mouseleave', onMapMouseleaveHandler);
    //     }
    //     // Enable map zooming with mouse scroll when the user clicks the map
    // $('.map').on('click', onMapClickHandler);
    // </script>

    <script>
          var goBack = function()
          {
            window.location.href = '/'
          }
    </script>-->

</body>

</html>
