<!DOCTYPE html>
<html >
<head>
  
</head>

<body>
    <div>
          <form action>
          <a href="/logexperience">
            <button>We're going!</button>
          </a>
          <a href="/">
            <button>It didn't work out</button>
          </a>
          <!-- <button onclick='btn2()'>It didn't work out</button> -->
          </form>
    </div>
</body>
</html>
