<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../views/partials/head %>
</head>
<body>
    <header>
        <% include ../views/partials/header %>
        <% include ../views/partials/back %>
    </header>
    <div style="text-align: center">
	    <p>VIEW ACTIVITY/EXPERIENCE</p>
        <br>
        Blueberry Picking <br>
        Activity description and photos
	</div>

    <script>
          var goBack = function()
          {
            window.location.href = '/viewmemories'
          }
    </script>

  </body>
</html>
