<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../views/partials/head %>
</head>
<body>
    <header>
        <% include ../views/partials/header %>
        <% include ../views/partials/back %>
    </header>
    <div style="text-align: center">
	    <p>VIEW MEMORIES (PREVIOUS ACTIVITIES)</p>
	    <button onclick='btn1()'>VIEW ACTIVITY 1</button>
	    <button onclick='btn1()'>VIEW ACTIVITY 2</button>
	</div>

	<script>
    	  var btn1 = function() 
    	  {
    		window.location.href = '/viewactivity'
  		  }
    </script>
  </body>
</html>
