<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../views/partials/head %>

    <link rel="stylesheet" href="stylesheets/modal.css"> 

    <link rel="stylesheet" href="stylesheets/timelinereset.css"> <!-- CSS reset -->
    <link rel="stylesheet" href="stylesheets/timelinestyle.css"> <!-- Resource style -->

</head>
<body style="background-color:#f5f5f5;">
    <header>
        <%include ../views/partials/header%>
    </header>

    <div class="mdl-layout__header-row" style="background-color:#f5f5f5; padding:0px 6px 0px 2px;">
      <!-- Add spacer, to align navigation to the right in desktop -->
      <div class="android-header-spacer mdl-layout-spacer"></div>
      <button id="sharebtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
          <i class="material-icons" style="color:#446EB6">share</i>
      </button>
    </div>

    

    <div class="container">
        <div id="activitydiv" style="text-align: center; text-transform: uppercase; padding: 10px; font-size: 20px; color: #555">
            <br/>
        </div>
    </div>

    <section id="cd-timeline" class="cd-container">

    </section> 

    <!-- The Modal -->
    <div id="myModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        
        <div class="mdl-dialog__content">
          <form>
            <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" style="width: 50%" for="switch-1">
              <input type="checkbox" id="switch-1" class="mdl-switch__input" checked>
              <span class="mdl-switch__label">Facebook</span>
            </label>
            <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" style="width: 50%" for="switch-2">
              <input type="checkbox" id="switch-2" class="mdl-switch__input">
              <span class="mdl-switch__label">Instagram</span>
            </label>
          </form>
        </div>
        <button id="sharemodalbtn" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" style="background-color:#446EB6; border-radius: 45px; width: 30%;">
          Share
        </button>
      </div>
    </div>

    <!-- jQuery -->
    <script src="javascripts/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="javascripts/bootstrap.min.js"></script>

    <script>
        var activitylog =<%-JSON.stringify(activitylogJSON)%>
        var activities =<%-JSON.stringify(activitiesJSON)%>
    </script>
    <!-- Javascript functions for the page -->
    <script src="javascripts/viewmemory.js"></script>

</body>
</html>