<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../views/partials/head %>

    <link rel="stylesheet" href="stylesheets/modal.css"> 

    <link rel="stylesheet" href="stylesheets/timelinereset.css"> <!-- CSS reset -->
    <link rel="stylesheet" href="stylesheets/timelinestyle.css"> <!-- Resource style -->

</head>
<body style="background-color:#f5f5f5;">
    <header>
        <%include ../views/partials/header%>
    </header>

    <div class="mdl-layout__header-row" style="background-color:#f5f5f5; padding:0px 6px 0px 2px;">
      <!-- Add spacer, to align navigation to the right in desktop -->
      <div class="android-header-spacer mdl-layout-spacer"></div>
      <button id="sharebtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
          <i class="material-icons" style="color:#446EB6">share</i>
      </button>
    </div>

    

    <div class="container">
        <div id="activitydiv" style="text-align: center; text-transform: uppercase; padding: 10px; font-size: 20px; color: #555">
            <br/>
        </div>
    </div>

    <section id="cd-timeline" class="cd-container">

    </section> 

    <!-- The Modal -->
    <div id="myModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        
        <div class="mdl-dialog__content">
          <form>
            <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" style="width: 50%" for="switch-1">
              <input type="checkbox" id="switch-1" class="mdl-switch__input" checked>
              <span class="mdl-switch__label">Facebook</span>
            </label>
            <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" style="width: 50%" for="switch-2">
              <input type="checkbox" id="switch-2" class="mdl-switch__input">
              <span class="mdl-switch__label">Instagram</span>
            </label>
          </form>
        </div>
        <button id="sharemodalbtn" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" style="background-color:#446EB6; border-radius: 45px; width: 30%;">
          Share
        </button>
      </div>
    </div>

    <!-- jQuery -->
    <script src="javascripts/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="javascripts/bootstrap.min.js"></script>

    <script>
        var goBack = function()
            {
                window.location.href = '/viewmemories';
            }


        var populateMoments = function(){

            var username = activity.hostName;
            console.log(moments.length);
            for(var i=0; i<moments.length; i++) {
                var moment = moments[i];
                console.log(moment);
                var parent = document.getElementById("cd-timeline");
                var newdiv = document.createElement("div");
                newdiv.className = "cd-timeline-block";
                newdiv.innerHTML = '<div class="cd-timeline-img cd-picture"> <img src="img/cd-icon-picture.svg" alt="Picture"> </div> <div class="cd-timeline-content"> <img height="100" width="100" src="'+moment.pictureSrc+'" alt="Picture"> <p>'+moment.caption+'</p> <a href="#0" class="cd-read-more">'+moment.username+'</a> <span class="cd-date">Jan 24</span> </div>';
                parent.insertBefore(newdiv, parent.firstChild);
            }   
        }

        var activitylog =<%-JSON.stringify(activitylogJSON)%>
        console.log(activitylog);

        var activities =<%-JSON.stringify(activitiesJSON)%>
        var activity;   
        var urlParams = new URLSearchParams(window.location.search);
        id = urlParams.get('id');
        for(var i=0; i<activities.activities.length; i++) {
          if(activities.activities[i].id == id)
          {
              activity = activities.activities[i];
          }
        }
        var moments;
        for(var i=0; i<activitylog.activitylog.length; i++) {
          if(activitylog.activitylog[i].activityid == id)
          {
              moments = activitylog.activitylog[i].log;
          }
        }

        var parent = document.getElementById("activitydiv");
        var newdiv = document.createElement("h1");
        newdiv.innerHTML = activity.name;
        parent.append(newdiv);
        newdiv = document.createElement("div");
        newdiv.innerHTML = '<br> <figure> <img src="images/otherUser.png" style="height:30px; width:30px;" /> </figure> <h1 style="font-size:13px"> with '+activity.hostName+'</h1> <!--<button class="modalbtn mdl-button mdl-js-button mdl-button--fab mdl-button--colored" href="/chat?id='+activity.id+'&past=true" style="background-color:#446EB6; margin:10px auto;"> <i class="material-icons">chat</i></button>-->'
        parent.append(newdiv); 
        populateMoments();        

    </script>

        <script>
        // Get the modal
        var modal = document.getElementById('myModal');

        // Get the button that opens the modal
        var btn = document.getElementById("sharebtn");


        var sharebtn = document.getElementById("sharemodalbtn");


        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on the button, open the modal 
        btn.onclick = function() {
        //var openModal = function() {        
            modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
            modal.style.display = "none";
        }

        sharebtn.onclick = function() {
            modal.style.display = "none";
        }


        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>

</body>
</html>