.btn-round {
	border-radius: 360px;
	padding: 20px 20px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#wrapper { position: relative; }
#over_map { position: absolute; top: 10px; left: 10px; z-index: 99; }

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#mapid { height: 180px; }