.btn-round {
	border-radius: 360px;
	padding: 20px 20px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#mapid { height: 180px; }

.activitytags {
width:80%;
border-radius: 50px; 
background-color: rgba(50, 50, 50, 0.5); 
padding:0px; 
margin: 2px 2px;
}

.exitButton {
    z-index: 99;
    height: 40px; 
    position: fixed; 
    bottom:0%;
    width:100%; 
    background-color: #393838; 
    opacity: 1;
}
.modal-dialog {
    margin: 0px auto;
}

.modal-backdrop.fade {
    opacity: 0.1;
    filter: alpha(opacity=0.1);
}

.modal-content {
    position: relative;
    background-color: #FFF;
    border: 1px solid #CECECE;
    border-radius: 0px;
    -webkit-box-shadow:none;
    box-shadow: none;
    background-clip: padding-box;
    outline: 0;
}


.modal-header {
    padding: 11px 15px;
    background-color: #F8F8F8;
    background: -webkit-linear-gradient(top, #F8F8F8, #F2F2F2);
    background: -moz-linear-gradient(top, #f8f8f8, #f2f2f2);
    background: -ms-linear-gradient(top, #f8f8f8, #f2f2f2);
    background: -o-linear-gradient(top, #f8f8f8, #f2f2f2);
    background: linear-gradient(top, #f8f8f8, #f2f2f2);
}




